@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

header {
background: url(../Images/image1.avif) no-repeat;
box-sizing: cover;
padding-bottom: 50px;
}

header nav ul {
    display: none;
}

header img {
    width: 20%;
    border-radius: 50%;
    align-content: center;
}

header nav {
    display: flex;
    background-color: #242336;
    justify-content: space-between;
    color: white;
    padding: 20px 20px 0 20px;
    line-height: 2em;
}

header .container, a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 100px;
    align-content: center;
}

header .container .btn {
    background-color: #242336;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 40%;
    word-spacing: 2px;
}

main .imgs {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
            
}

 main .container1 {
     width: 80%;
     margin: auto;
     text-align: center;
 }

 main h2 {
    margin-bottom: 20px;
    color: #242336;
 }

 main p {
     text-align: justify;
 }

main .container2 { 
    background-image: url(../Images/image2.avif);
    margin: auto;
    padding: 100px 0;
    margin-bottom: 50px;
}

main span {
    color: white;
}


main .container1 ul {
    display: flex;
    list-style: none ;
    gap: 20px;
    text-align: left;
    padding: 0;
    
}

main .container1 h3 {
    text-align: left;
        
}

main .cv {
    width: 80%;
    margin-bottom: 20px;
}

